version: "3"

services:
  db:
    container_name: mongo-db-services
    image: mongo
    ports:
      - 27017:27017

  auth:
    container_name: user-auth-services
    build: "./services/auth"
    restart: always
    ports:
      - 3001:3000
    depends_on:
      - db
    environment:
      - MONGO_DB_URI=mongodb://db/microservices

  tasks:
    container_name: user-tasks-services
    build: "./services/tasks"
    restart: always
    ports:
      - 3002:3000
    depends_on:
      - db
    environment:
      - MONGO_DB_URI=mongodb://db/microservices

  users:
    container_name: users-services
    build: "./services/users"
    restart: always
    ports:
      - 3003:3000
    depends_on:
      - db
    environment:
      - MONGO_DB_URI=mongodb://db/microservices
